# 1. Описание базы данных
`База данных представляет собой продажи авокадо`

1. `Date` - Дата
2. `AveragePrice` - Средняя цена одного авокадо
3. `Total Volume` - Общее количество проданных авокадо
4. `4046` - Общее количество проданных авокадо с PLU 4046
5. `4225` - Общее количество проданных авокадо с PLU 4225
6. `4770` - Общее количество проданных авокадо с PLU 4770
7. `Total Bags` - Продано мешков
8. `Small Bags` - Маленькие мешки
9. `Large Bags` - Большие мешки
10. `XLarge Bags` - Огромные мешки
11. `type` - Обычные или органические
12. `year` - Год
13. `region` - Город или район наблюдения

In [140]:
from operator import itemgetter
import matplotlib. pyplot as plt
import matplotlib. ticker as ticker
import numpy as np
import pandas as pd
import math
from simple_kNN import *

In [141]:
avocado = pd.read_csv('avocado.csv', sep=",")

In [142]:
avocado.head(10)

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
5,5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.0,conventional,2015,Albany
6,6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.0,conventional,2015,Albany
7,7,2015-11-08,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.0,conventional,2015,Albany
8,8,2015-11-01,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.0,conventional,2015,Albany
9,9,2015-10-25,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.0,conventional,2015,Albany

In [143]:
avocado.describe()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18249.000000,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,24.232232,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,15.481045,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.000000,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,10.000000,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000
50%,24.000000,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
75%,38.000000,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000
max,52.000000,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

In [144]:
# Регресси по XLarge Bags
def regr_to_class(y: float) -> str:
    if   y < 100000:
        result = '0'
    elif y < 200000:
        result = '1'
    elif y < 400000:
        result = '2'
    else:
        result = '3'
    return result

# Формирование целевого признака

In [145]:
avocado1 = avocado

avocado1['XLarge_class'] = \
avocado1.apply(lambda row: regr_to_class(row['XLarge Bags']), axis=1)

In [146]:
avocado1[avocado1['XLarge Bags'] > 100000]

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,XLarge_class
2341,1,2015-12-20,0.81,4565207.85,2166801.03,1226508.86,412828.75,759069.21,555356.92,95639.50,108072.79,conventional,2015,SouthCentral,1
2652,0,2015-12-27,0.95,27297983.67,9626901.09,10197890.05,1184340.09,6288852.44,4850404.09,1252626.31,185822.04,conventional,2015,TotalUS,1
2653,1,2015-12-20,0.98,25083647.17,8710021.76,9329861.85,1201020.01,5842743.55,4618389.66,1025048.77,199305.12,conventional,2015,TotalUS,1
3612,24,2016-07-10,1.24,3327062.20,478536.66,1500516.86,328564.87,1019443.81,686496.96,228290.63,104656.22,conventional,2016,GreatLakes,1
3613,25,2016-07-03,1.13,4020724.58,574425.88,1781703.48,367119.34,1297475.88,930189.98,261535.63,105750.27,conventional,2016,GreatLakes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9097,7,2018-02-04,0.87,62505646.52,21620180.90,20445501.03,1066830.22,19373134.37,13384586.80,5719096.61,269450.96,conventional,2018,TotalUS,2
9098,8,2018-01-28,1.09,40171640.84,14551799.50,12119884.61,575974.74,12923981.99,9749412.19,3041125.42,133444.38,conventional,2018,TotalUS,1
9099,9,2018-01-21,1.08,42939821.55,14218843.83,13929702.12,928815.12,13862460.48,9866218.28,3789722.90,206519.30,conventional,2018,TotalUS,2
9100,10,2018-01-14,1.20,37299945.22,12600918.24,11866197.84,652808.40,12180020.74,8128241.88,3917569.95,134208.91,conventional,2018,TotalUS,1
9101,11,2018-01-07,1.13,36703156.72,13730992.75,10781339.21,677714.86,11513109.90,8231766.23,3130919.10,150424.57,conventional,2018,TotalUS,1

## Классификация

In [147]:
from sklearn.datasets import *
from typing import Dict, Tuple
from scipy import stats
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.metrics import accuracy_score, balanced_accuracy_score
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.metrics import roc_curve, roc_auc_score, classification_report
import seaborn as sns
import matplotlib. pyplot as plt
%matplotlib inline
sns. set(style="ticks")

In [148]:
kNc = KNeighborsClassifier(n_neighbors=2)

In [149]:
train_x, test_x, train_y, test_y = train_test_split(avocado1[['XLarge Bags']], avocado1['XLarge_class'], test_size=0.5, random_state=1)

In [150]:
kNc.fit(train_x, train_y)
target1 = kNc.predict(test_x)
len(target1), target1

(9125, array(['0', '0', '0', ..., '0', '0', '0'], dtype=object))

In [151]:
accuracy_score(test_y, target1)

0.9993424657534247