In [121]:
from Classes.KNN import *
import numpy as np
import pandas as pd
import matplotlib. pyplot as plt

In [122]:
mobile = pd.read_csv('mobile.csv', sep=";")
mobile.head(30)

     price           type
0    37315        Средние
1    49039        Средние
2    44533        Средние
3    78715        Дорогие
4    85338        Дорогие
5   119476  Очень дорогие
6    97366        Дорогие
7   106198  Очень дорогие
8    76250        Дорогие
9    19338      Бюджетные
10    6050      Бюджетные
11   34062        Средние
12  122661  Очень дорогие
13   66177        Дорогие
14   39469        Средние
15   34995        Средние
16   66091        Дорогие
17   38879        Средние
18   54084        Средние
19   71041        Дорогие
20   90802        Дорогие
21   99215        Дорогие
22  116249  Очень дорогие
23   97276        Дорогие
24   43216        Средние
25  106619  Очень дорогие
26   32657        Средние
27   38198        Средние
28    6513      Бюджетные
29  120942  Очень дорогие

In [123]:
mobile.shape

(199, 2)

In [124]:
x, y, t_x, t_y = splitter(mobile[['price']], mobile[['type']])

In [125]:
x, t_x

(      price
 0     37315
 1     49039
 2     44533
 4     85338
 5    119476
 ..      ...
 193   31435
 195   43918
 196   15135
 197   11404
 198   32679

 [159 rows x 1 columns],
       price
 178   34785
 72    57086
 177  129796
 130   63985
 192   20872
 66    96928
 28     6513
 88    26408
 113   38171
 181   81048
 149   72458
 154   96535
 101   11768
 141   20349
 103   28539
 109   41601
 104   81774
 53    76930
 139   64465
 102   95372
 16    66091
 29   120942
 129   66668
 194  128552
 82    66615
 175   33591
 3     78715
 44    25943
 131  116166
 155  108756
 132   85073
 45    36702
 118   39087
 67     7745
 90    43961
 157   78983
 136   44442
 32    67427
 93    36664
 35    40172)

In [126]:
m_KNN = KNN(x, y)

In [131]:
target1 = m_KNN.predict(t_x, 1)
target2 = m_KNN.predict(t_x, 2)
target3 = m_KNN.predict(t_x, 5)
target4 = m_KNN.predict(t_x, 7)
target5 = m_KNN.predict(t_x, 9)
target6 = m_KNN.predict(t_x, 11)
target7 = m_KNN.predict(t_x, 25)

In [132]:
target2

array(['Средние', 'Дорогие', 'Средние', 'Дорогие', 'Средние',
       'Очень дорогие', 'Средние', 'Средние', 'Средние', 'Дорогие',
       'Дорогие', 'Очень дорогие', 'Средние', 'Средние', 'Средние',
       'Средние', 'Дорогие', 'Дорогие', 'Дорогие', 'Очень дорогие',
       'Дорогие', 'Очень дорогие', 'Дорогие', 'Очень дорогие', 'Дорогие',
       'Средние', 'Дорогие', 'Средние', 'Очень дорогие', 'Очень дорогие',
       'Дорогие', 'Средние', 'Средние', 'Средние', 'Средние', 'Дорогие',
       'Средние', 'Дорогие', 'Средние', 'Средние'], dtype='<U13')

In [128]:
np.array(t_y)

array([['Средние'],
       ['Средние'],
       ['Очень дорогие'],
       ['Дорогие'],
       ['Средние'],
       ['Дорогие'],
       ['Бюджетные'],
       ['Средние'],
       ['Средние'],
       ['Дорогие'],
       ['Дорогие'],
       ['Дорогие'],
       ['Бюджетные'],
       ['Средние'],
       ['Средние'],
       ['Средние'],
       ['Дорогие'],
       ['Дорогие'],
       ['Дорогие'],
       ['Дорогие'],
       ['Дорогие'],
       ['Очень дорогие'],
       ['Дорогие'],
       ['Очень дорогие'],
       ['Дорогие'],
       ['Средние'],
       ['Дорогие'],
       ['Средние'],
       ['Очень дорогие'],
       ['Очень дорогие'],
       ['Дорогие'],
       ['Средние'],
       ['Средние'],
       ['Бюджетные'],
       ['Средние'],
       ['Дорогие'],
       ['Средние'],
       ['Дорогие'],
       ['Средние'],
       ['Средние']], dtype=object)

# Оценка качества классификации

In [129]:
from sklearn.metrics import accuracy_score, balanced_accuracy_score

In [130]:
accuracy_score(t_y, target1), accuracy_score(t_y, target2),accuracy_score(t_y, target3), accuracy_score(t_y, target4), accuracy_score(t_y, target5), accuracy_score(t_y, target6), accuracy_score(t_y, target7)

(0.8, 0.8, 0.5, 0.3, 0.425, 0.3, 0.125)